<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhap du lieu</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <h2>Nhap danh sach tai khoan</h2>
    <form action="/addaccount" method="post">
        <label>Email</label>
        <input type="text" name="email" required></br>
        <label>Username</label>
        <input type="text" name="username" required></br>
        <label>Fullname</label>
        <input type="text" name="fullname" required></br>
        <label>DapartmentID</label>
        <input type="text" name="departid" required></br>
        <label>PositionID</label>
        <input type="text" name="posid" required></br>
        <label>Create Date</label>
        <input type="date" name="date" required></br>
        <button type="submit"> Nhap</button>
    </form>
    
</body>
</html>